.popup__save-button {
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 18px auto 0;
  width: 358px;
  height: 50px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.23s;
  transition-timing-function: linear;
  transition-delay: 0;
  border-radius: 2px;
}
.popup__save-button:hover {
  opacity: .8;
}
@media screen and (max-width: 890px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}