.page {
  background-color: black;
  color: white;
  font-family: 'Inter', 'Arial', sans-serif;
  padding-top: 45px;
  padding-bottom: 60px;
  min-height: 100vh;
}
@media screen and (max-width: 890px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}