.popup__close-icon {
  background-image: url(../../../images/Close-Icon.svg);
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.0);
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0;
}
.popup__close-icon:hover {
  opacity: 0.5;
}