.elements__like-button {
  width: 22px;
  height: 19px;
  margin-top: 30px;
  margin-right: 15px;
  background-color: transparent;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0;
}
.elements__like-button:hover {
  opacity: 0.5;
}