.profile__about-me {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 890px) {
  .profile__about-me {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 8px;
  }
}