.popup__input {
  font-family: 'Inter', 'Arial', sans-serif;
  border: none;
  margin: 0 auto;
  width: 358px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 890px) {
  .popup__input {
    width: 238px;
  }
}