.elements__delete-icon {
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0;
}
.elements__delete-icon:hover {
  opacity: 0.6;
}